@import 'events/list';
@import 'events/single';

.tribe-events-button {
  display: inline-block;
  padding: 4px 10px;
  background-color: #fff !important;
  border: 1px solid #4A4A4A;
  border-radius: 0;
  color: $text-color !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tribe-events-back {
  display: none;
}
