.banner {
  &__nav {
    li {
      display: inline-block;

      a {
        text-transform: uppercase;
        color: #9B9B9B;
        font-size: 12px;
        background: no-repeat left center;
        background-size: 16px 16px;

        &:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }

      &.navitem {
        a {
          padding-left: 20px;
        }

        &_icon-left a {
          background-image: url(../images/navigateleft@2x.png);
        }

        &_icon-plus a {
          background-image: url(../images/plus@2x.png)
        }

        &_hide-if-current.current-menu-item {
          display: none;
        }
      }
    }
  }

  &__content {
    padding: 0 0 20px;
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 26px;
      a {
        color: $text-color;
        &:hover {
          text-decoration: none;
        }
      }
    }

    hr {
      display: none;
      border-color: #979797;
    }
  }

  // Responsive
  // ----------

  &__nav {
    .nav-primary {
      text-align: left;
      li.navitem a {
        padding-right: 0;
      }
    }

    .nav-secondary {
      text-align: right;
      li.navitem a {
        background-position: right;
        padding-left: 0;
        padding-right: 20px;
      }
    }
  }

  // Xs+
  @media (min-width: $screen-xs-min) {
  }

  // Sm+
  @media (min-width: $screen-sm-min) {
    &__content {
      padding: 66px 0;
      h1 {
        font-size: 56px;
      }
      hr {
        display: block;
        width: 95px;
        margin: 23px auto;
      }
    }

    &__nav {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }

  // Med+
  @media (min-width: $screen-md-min) {

  }
}
