/**
 * Styles for the Tribe event list.
 */

// Reset skeleton style
// ---------------------------------------------------------------------------------------------------------------------

// Hide the toggle entirely.
#tribe-bar-collapse-toggle {
  display: none;
}

// Make filters inline blocks on the same row.
.tribe-bar-filters-inner {
  > div {
    margin-bottom: 10px;

    label {
      display: none;
    }

    input {
      width: 100%;
    }

    // Sm+
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }
}


// Views (not used but here anyway)
#tribe-bar-views {
  display: inline-block;

  h3, label {
    display: none;
  }

  .tribe-bar-views-inner {
    display: inline-block;
    background-color: transparent !important;
  }
  .tribe-bar-views-list {
    display: none;
  }
}

// Events filters
.tribe-events-filters-content {
  background: transparent;
  border: 0;
}
.tribe-events-filters-horizontal #tribe_events_filters_form {
  padding: 0;
}

#tribe_events_filters_wrapper.tribe-events-filters-horizontal,
.tribe-filters-closed #tribe_events_filters_wrapper.tribe-events-filters-horizontal {
  position: relative;
  padding: 0;
  margin: 0;
  background: transparent;
}

// Keep events form always visible even if closed by JS
.tribe-events-filter-view.tribe-filters-closed #tribe_events_filters_form {
  display: block;
}

// Embed the filter controls directly in the bar (no popouts)
.tribe-events-filters-horizontal .tribe_events_filter_item {
  margin: 0;

  h3 {
    display: none;
  }

  > div,
  &.closed > div {
    border: 0;
    position: relative;
    padding: 0;
    display: block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &:before,
    &:after {
      display: none;
    }
  }
}

.tribe-filters-open #tribe_events_filters_wrapper,
.tribe-filters-open #tribe_events_filters_wrapper.tribe-events-filters-horizontal,
.tribe-filters-open #tribe_events_filters_wrapper.tribe-events-filters-vertical {
  position: relative;
  z-index: auto;

  #tribe_events_filter_control {
    display: none;
  }
}

// Filter bar
// ---------------------------------------------------------------------------------------------------------------------

#tribe-bar-form {
  text-align: center;
  background-color: transparent;
  margin-bottom: 20px;
  font-size: 14px;

  // Make sure each visible element is exactly 32px and positioned just right.
  .tribe-bar-search-filter,
  .tribe-bar-date-filter,
  .tribe-bar-submit,
  #tribe-events-content-wrapper,
  #tribe_events_filters_wrapper select {
    height: 32px !important;
  }

  #tribe_events_filters_wrapper {
    -moz-transform: translateY(1px); // HACK not sure why inline-block doing a weird little shift on firefox

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      &::-ms-expand {
        display: none;
      }
      color: #fff;
      appearance: none;
      font-size: 14px;
      border: none;
      border-radius: 0;
      background: #4A4A4A url(../images/navigatedown@3x.png) no-repeat right 10px center;
      background-size: 9px 5px;
      padding: 6px 25px 6px 6px;
      margin: 0 0 10px;
    }
  }

  input {
    color: #fff;
    background: #4A4A4A;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    padding: 6px;
  }

  #tribe-bar-search {
    color: #4A4A4A;
    background: #efefef url(../images/SEARCH@3x.png) no-repeat right 10px center;
    background-size: 10px 10px;
    padding-right: 25px;
  }

  #tribe-bar-date {
    background: #4A4A4A url(../images/navigatedown@3x.png) no-repeat right 10px center;
    background-size: 9px 5px;
    padding-right: 25px;
    &[type=date] {
      min-height: 32px;
    }
  }

  .tribe-bar-submit .tribe-events-button {
    text-transform: uppercase;
    background-color: #4A4A4A !important;
    color: #fff !important;
    width: 100%;
    padding: 5px 20px 5px 9px;
    background-image: url(../images/navigateright@2x.png);
    background-size: 5px 10px;
    background-position: right 10px center;
    background-repeat: no-repeat;
  }

  // Responsive
  // ----------

  @media (min-width: $screen-sm-min) {
    margin-bottom: 55px;
  }
}

// HACK for the bootstrap datepicker being pushed too far down
.tribe-events-filter-view {
  .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
    -webkit-transform: translateY(-32px);
    -moz-transform: translateY(-32px);
    -ms-transform: translateY(-32px);
    -o-transform: translateY(-32px);
    transform: translateY(-32px);
  }
  &.admin-bar {
    .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
  }
}

// List
// ---------------------------------------------------------------------------------------------------------------------

// Prettier prev/next navigation
#tribe-events-content ul.tribe-events-sub-nav {
  margin: 0;
  padding: 40px 0 0;

  li {
    display: block;
    box-sizing: border-box;
    a {
      color: #4A4A4A;
      background: #fff;
      border: 1px solid #4A4A4A;
      display: block;
      padding: 6px;
    }
    a:hover {
      background-color: #4A4A4A;
      color: #fff;
      text-decoration: none;
    }
  }

  li.tribe-events-nav-left,
  li.tribe-events-nav-right {
    margin: 0 0 10px;
    padding: 0 !important;
    text-align: center;
  }

  @media (min-width: $screen-sm-min) {
    li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      width: 50%;
    }
    li.tribe-events-nav-right {
      text-align: center;
      float: right;
      a {
        margin-left: 5px;
      }
    }
    li.tribe-events-nav-left {
      margin-right: 0;
      padding-left: 5px;
      text-align: center;
      float: left;
      a {
        margin-right: 5px;
      }
    }
  }
}

// Spinner
#tribe-events-content {
  position: relative;

  .tribe-events-ajax-loading {
    position: absolute;
    display: block;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 10000;
    text-align: center;
  }
}

// Event list that looks like a table
#tribe-events-content .cuc-eventlist {
  margin: 0;
  padding: 0;
  list-style: none;

  .cuc-event {
    clear: both;
    border-bottom: 1px solid #000;
    overflow: hidden;
    padding: 10px 0;
    cursor: pointer;
    font-size: 14px;

    a {
      color: $text-color;
    }

    > * {
      float: left;
      min-height: 1px;
      box-sizing: border-box;
      overflow: hidden;
      padding: 0 5px;

      -webkit-transition: max-width 0.2s;
      -moz-transition: max-width 0.2s;
      -ms-transition: max-width 0.2s;
      -o-transition: max-width 0.2s;
      transition: max-width 0.2s;
    }

    &:hover {
      background-color: #4A4A4A;
      color: #fff;
      a {
        color: #fff;
        text-decoration: none;
      }
    }

    // Modifiers
    // --------

    &_header {
      text-transform: uppercase;
      display: block;
    }

    // Elements
    // --------

    &__date {
      &__full {
        display: none;
      }
      .recurringinfo {
        display: none;
      }
    }

    &__title {
      a {
        color: $brand-primary;
      }
    }

    &__genre {
      > div {
        display: none;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline;
          &:last-child {
            &:after {
              content: none;
            }
          }
          &:after {
            content: ', '
          }
        }
      }
    }

    // Responsive
    // ----------

    &__date {
      width: 25%;
      max-width: 25%;
    }
    &__title {
      width: 45%;
      max-width: 45%;
    }
    &__genre {
      padding: 0;
      width: 0;
      max-width: 0;
    }
    &__venue {
      width: 30%;
      max-width: 30%;
    }

    // Xs+
    @media (min-width: $screen-xs-min) {
    }

    // Sm+
    @media (min-width: $screen-sm-min) {
      font-size: $font-size-base;
      padding: 12px 0;

      &__date {
        width: 15%;
        max-width: 15%;
      }
      &__title {
        width: 45%;
        max-width: 45%;
      }
      &__genre {
        padding: 0 5px;
        width: 20%;
        max-width: 20%;
      }
      &__venue {
        width: 20%;
        max-width: 20%;
      }
    }

    // Med+
    @media (min-width: $screen-md-min) {
      &__date {
        width: 10%;
        max-width: 10%;
      }
      &__title {
        width: 45%;
        max-width: 50%;
      }
      &__genre {
        width: 25%;
        max-width: 20%;
      }
      &__venue {
        width: 20%;
        max-width: 20%;
      }
    }
  }
}
