/**
 * Styles for the Tribe event single page.
 */
$sidebar-color: #9B9B9B;

#tribe-events-content.tribe-events-single {
  .cuc-event {
    &__header {
      text-align: center;
      border-bottom: 1px solid #4A4A4A;
      padding-bottom: 26px;
      margin-bottom: 56px;

      h1 {
        color: $brand-primary;
        font-size: $font-size-h3;

        @media (min-width: $screen-md-min) {
          font-size: $font-size-h1;
        }
      }

      .tribe-events-schedule {
        text-transform: uppercase;
      }

      .tribe-events-schedule-details {
        margin-right: 1em;
      }

      .tribe-events-divider {
        display: none;
      }
    }

    &__meta {
      color: $sidebar-color;
      margin-bottom: 55px;
      word-wrap: break-word;
      overflow-wrap: break-word;

      a {
        color: $sidebar-color;
        text-decoration: underline;
      }

      dt {
        display: none;
      }

      .tribe-events-single-section-title {
        display: none;
      }
      .tribe-events-event-categories {
        margin-bottom: 20px;
      }
      .tribe-events-gmap {
        display: block;
      }
    }

    &__content {
      margin-bottom: 55px;
    }

    &__map {
      width: 100%;

      .tribe-events-venue-map {
        float: none;
        width: 100%;
      }
    }

    @media all and (min-width: $screen-md-min) {
      &__meta {
        text-align: right;
      }
    }
  }
}
